<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Game Roulette</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Sekuya&display=swap" rel="stylesheet">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="page">
        <!-- <div class="vignette"></div> -->
        <div class="light"></div>
        <div class="light2"></div>
        <div class="light3"></div>

        <section id="hero">
            <div class="container mt-5">
                <h1 id="title" class="jet text-center no-select">
                    <span class="content glow-white">Game ? Roulette</span>
                    <span class="cursor">|</span>
                </h1>
            </div>
        </section>
    
        <section id="about">
            <div class="container about-container"> 
                <p class="helv about-text glow-low text-center jet">
                    let's see what peaks your interests.
                </p>
            </div>
        </section>

        <section id="outcome">
            <div class="container outcomes-container glow-box-black">
                <div class="outcome glow-box tv-static">
                    
                </div>
                <div class="outcome glow-box tv-static">
                    
                </div>
                <div class="outcome glow-box tv-static">
                    
                </div>
            </div>
        </section>

        <section id="roll">
            <div class="container roll-container">
                <button class="roll-button jet glow-box">
                    <h1 class="glow-white">SPIN?<h1>
                </button>
            </div>
        </section>

        <section id="settings">
            <div class="container my-5 py-5">
               
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="main.js"></script>
        <svg width="0" height="0">
        <filter id="blur">
            <feGaussianBlur stdDeviation="10" result="blur"/>

            <feColorMatrix 
            in="blur"
            type="matrix"
            values="
                1 0 0 0 0
                0 1 0 0 0
                0 0 1 0 0
                0 0 0 2.5 -1
            "
            result="glow"
            />

            <feMerge>
            <feMergeNode in="glow"/>
            <feMergeNode in="SourceGraphic"/>
            </feMerge>
        </filter>
        </svg>
    </body>
</html>